body{
    font-family: 'BigBottomCartoonRegular';
    font-weight: normal;
    font-style: normal;
    background-color: rgb(50, 205, 97);
    
    

}

h1{
    color:rgb(117, 0, 128);
}

input{
    background-color: rgb(226, 223, 43);
    color:rgb(255, 0, 140);
}

label{
    color:rgb(0, 174, 255);
}