body{
    font-family: 'BigBottomCartoonRegular';
    font-weight: normal;
    font-style: normal;
    background-color: rgb(50, 205, 97);
    
    

}

h1{
    color:rgb(117, 0, 128);
}

input{
    background-color: rgb(226, 223, 43);
    color:rgb(255, 0, 140);
}

label{
    color:rgb(0, 174, 255);
}

.button input{
 color:rgb(24, 14, 34);
}

footer {
    background: #666;
    color: rgb(255, 255, 255);
    padding: 30px o;
    clear: both;
    border-top: 8px solid #674aaa;
    color: #cccccc;
    font-family: 'BigBottomCartoonRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }